@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e3e3e3;
  box-shadow: 0px 12px 20px #f0f0f0;
  display: flex;
  justify-content: center;
}

.header-container {
  margin: 0.5rem 1rem;
  width: 100%;
  max-width: var(--content-max-width);
  > h1 {
    font-family: "Monoton", cursive;
    font-size: 2.5rem;
    color: rgb(29, 29, 29);
  }
}

.header-icon-buttons {
  > a > svg {
    font-size: 2.5rem;
  }
}
